* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #B4A6AB;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 500px) {

    .lines div{
        height: 5px;
        background-color: #615055;
        margin: 1px 0;
        border-radius: 25px;
        transition: 0.3s;
    }
    
    .nav {
        margin: 0 0 0 1em;
        z-index: 10;
        background-color: #B4A6AB;
        width: 30px;
    }
    
    .lines {
        width: 100%;
        display: block;
        margin: 1em 0 0 0;
    }
    
    .one {
        width: 30px;
    }
    
    .two {
        width: 20px;
    }
    
    .three {
        width: 25px;
    }
    
    .lines:hover div {
        cursor: pointer;
        width: 30px;
    }

    .options a {
        text-decoration: none;
        color: #615055;
        font-size: 16pt;
        margin: 20px 0px;
        display: none;
    }

    .nav:hover {
        width: 105px;
    }

    .nav:hover .options a{
        display: block;
        font-weight: bold;
    }

    .section-white {
        background-color: #CDD5D1;
        height: 200vw;
        width: 100%;
    }
    
    .section-rose {
        height: 200vw;
        width: 100%;
    }

    .home {
        text-align: center;
    }

    .home .name {
        display: block;
        margin: 10px 0;
        padding: 200px 0 0 0;
        font-weight: bold;
        font-size: 160%;
    }

    .home .description {
        display: block;
        font-size: 80%;
    }

    .projects {
        overflow: scroll;
        display: flex;
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }

    .projects::-webkit-scrollbar {
    display: none;
    }

    .project {
        width: 95%;
        height: 67%;
        margin: 50% 0 0 10px;
        background-color: #946E83;
        border: 1px solid #946E83;
        padding: 5px;
    }

    .projects img {
        width: 80vw;
    }

    .projects a {
        text-decoration: none;
    }

    .project-info {
        color: #CDD5D1;
        font-weight: bold;
    }

    .picture .profile {
        width: 30vw;
        border-radius: 50%;
        margin: 40% 0 0 33%;
    }

    .about-info {
        text-align: center;
        font-size: 80%;
        margin: 15px;
    }

    .form {
        padding: 50% 0 0 0;
        margin: 10px;
        text-align: center;
    }

    .email label{
        font-size: 150%;
        display: block;
    }

    .email input {
        width: 60%;
        border-radius: 5px;
    }


    .message label {
        font-size: 150%;
        display: block;
    }

    .message textarea {
        border-radius: 5px;
        width: 60%;
    }

    .send-button {
        font-size: 100%;
        background-color: #B4A6AB;
        border-radius: 5px;
        padding: 5px;
        color: #615055;
        font-weight: bold;
    }

    .send-button:hover {
        box-shadow: 5px 1px 5px #B4A6AB ;
        background-color: #615055;
        color: #B4A6AB;
    }

    
}
